{{- $hasToc := isset .Params "toc" -}}
{{- $tocValue := "" -}}
{{- if $hasToc -}}
  {{- $tocValue = lower (printf "%v" .Params.toc) -}}
{{- end -}}

{{- if and $hasToc (eq $tocValue "true") (gt (len .TableOfContents) 100) -}}
<div class="sidebar-toc">
  <div class="sidebar-toc-header">
    <span class="sidebar-toc-label">// Table of Contents</span>
    <button class="sidebar-toc-close" id="sidebar-toc-close" aria-label="Close table of contents">&#x2715;</button>
  </div>
  <div class="sidebar-toc-content toc-content">
    {{ .TableOfContents }}
  </div>
</div>
{{- end -}}
