{{- $showToc := false -}}
{{- if isset .Params "toc" -}}
  {{- $showToc = .Params.toc -}}
{{- else if .Site.Params.toc -}}
  {{- $showToc = .Site.Params.toc -}}
{{- end -}}

{{- if and $showToc (gt (len .TableOfContents) 100) -}}
<div class="toc-section">
  <div class="toc-header" id="toc-header" role="button" tabindex="0" aria-expanded="true" aria-controls="toc-content">
    <h3>table of contents</h3>
    <span class="toc-toggle" id="toc-toggle">▼</span>
  </div>
  <div class="toc-content" id="toc-content">
    {{ .TableOfContents }}
  </div>
</div>
{{- end -}}
